<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile Information</title>
</head>
<body>
<h1>welcome to Your Profile this is your data </h1>

<main>
    <div>
        <img src="https://www.marmuq.com/assets/front/images/logo/user2.png" alt="ProfilePicture">
        <p>First Name: <span th:text="${userProfile.firstName}"></span></p>
        <p>Last Name: <span th:text="${userProfile.lastName}"></span></p>
        <p>Date of birth: <span th:text="${userProfile.dateOfBirth}"></span></p>
        <p>Bio: <span th:text="${userProfile.bio}"></span></p>
    </div>
    <div>
        <form action="/addPost" method="post">
            <label for="body">Add a post: <br></label>
            <input type="textarea" name="body" id="body">
            <button type="submit">Add post</button>
        </form>
    </div>

    <br>
    <h3>Posts: </h3>
    <hr>
    <div>
        <div th:each="post : ${userProfile.posts}">
            <p th:text="${post.body}"></p>
            <p th:text="${post.createdAt}"></p>
            <hr>
        </div>
    </div>
</main>


</body>
</html>