<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:ta="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>Profile Information</title>

</head>
<body>

<h1>Welcome to Your Profile </h1>

<main>
    <div class="card" style="width: 18rem;">
        <img src="https://www.marmuq.com/assets/front/images/logo/user2.png" class="card-img-top" alt="ProfilePicture">
        <div class="card-body">
            <h5 class="card-text" th:text="${userProfile.firstName} + ${userProfile.lastName}"/>
            <p class="card-text" th:text="${userProfile.bio}"/>
            <p class="card-text" th:text="${userProfile.dateOfBirth}"/>
        </div>

    </div>
    <br>
    <br>

    <form action="/addPost" method="post">
        <fieldset>
            <div class="mb-3">
                <label class="form-label">Add a post</label>
                <input type="textarea" class="form-control" name="body">
                </br>
                <button type="submit" class="btn btn-primary" name="password">submit</button>
            </div>
        </fieldset>
    </form>

    <br>
    <br>

    <form th:each="post : ${userProfile.posts}">
        <legend>Posts</legend>
        <fieldset>
            <div class="mb-3">
                <p th:text="${post.body}"></p>
                <p th:text="${post.createdAt}"></p>
            </div>
        </fieldset>
    </form>
</main>
</body>
</html>