<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:ta="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link rel="stylesheet" href="all" th:href="@{all}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div th:replace="header :: header"></div>

<form ta:action="@{/signup}" method="post">
    <legend>Sign up</legend>
    <fieldset>
        <div class="mb-3">
            <label class="form-label">User Name</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstName">
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName">
        </div>
        <div class="mb-3">
            <label class="form-label">Date of Birth</label>
            <input type="date" class="form-control" name="dateOfBirth">
        </div>
        <div class="mb-3">
            <label class="form-label">Bio</label>
            <input type="text" class="form-control" name="bio">
        </div>
        <button type="submit" class="btn btn-primary" name="password">Sign up</button>
    </fieldset>
</form>
<div th:replace="footer :: footer"></div>

</body>
</html>